<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kamores.tiffin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Tiffin"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Item_Schedule_Activity"
            android:label="Item Schedule Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activity_Detail"
            android:label="Activity Detail"
            android:screenOrientation="portrait"/>
        <activity android:name=".Add_Items"
            android:label="Add Items"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Supplier_Information"
            android:label="Supplier Information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Password"
            android:label="Password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>