<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kamores.tiffin">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tiffin_icon"
        android:label="Tiffin"
        android:roundIcon="@mipmap/tiffin_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Add_Supplier"
            android:label="Add_Supplier" />
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Password"
            android:label="Password"
            android:screenOrientation="portrait" />

        <activity android:name=".BaseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>